#white{
padding: 5vmin 8vmin 3vmin 8vmin;
}

.installer-head{
font-family: Roboto, Sans-Serif;
font-size: 4vmin;
margin: auto;
text-align: center;
color: #212121;
}

.installer-content{
font-family: Roboto, Sans-Serif;
font-size: 2vmin;
margin: auto;
text-align: center;
color: #212121;
}

.installer-sub-headline{
font-family: Roboto, Sans-Serif;
font-size: 2.5vmin;
margin: auto;
font-weight: bold;
text-align: center;
color: #212121;
}

.installer-progress-container{
margin-top: 10vmin;
margin-bottom: 3vmin;
width: 100%;
}

.installer-progress{
margin: auto;
text-align: center;
display: table;
}

.circle{
border-radius: 50%;
width: 5vmin;
height: 5vmin; 
background-color: #212121;
font-family: Roboto, Sans-Serif;
font-size: 2.2vmin;
font-weight: bold;
color: #FFFFFF;
display: table-cell;
vertical-align: middle;
}

.circle.active{
background-color: #AAAAAA;
color: #000000;
}

.circle.done{
background-color: #81c784;
}

.progress-line-container{
width: 10vmin;
display: table-cell;
vertical-align: middle;
}

.progress-line{
background-color: #212121;
height: 0.5vmin;
}

.progress-line.done{
background-color: #81c784;
}

.button{
display: inline-block;	
width: 11vmin;
font-family: Roboto, Sans-Serif;
font-size: 2.1vmin;
padding: 0.5vmin 0.7vmin 0.5vmin 1vmin;
background-color: #81c784;
text-align: center;
-webkit-box-shadow: 0 0 0.3vmin 0 rgba(0,0,0,0.75);
-moz-box-shadow: 0 0 0.3vmin 0 rgba(0,0,0,0.75);
box-shadow: 0 0 0.3vmin 0 rgba(0,0,0,0.75);
border-radius: 0.3vmin;
margin-top: 5vmin;
}

.button:hover{
opacity: 0.7;
}

.button i{	
font-size: 2.6vmin;
display: inline;
color: #212121;
vertical-align: middle;
margin-left: 0.5vmin;
}

.button-text{
display: inline;
vertical-align: middle;	
}

.installer-text-block{
text-align: left;
}