@import url(http://fonts.googleapis.com/css?family=Roboto:400,500);

body {
/*background-color: #F1F2F2;*/
background-color: whitesmoke;
margin: 0;
}

a:link{
text-decoration: none;
color: #f39c12;
}

a:visited{
text-decoration: none;
color: #f39c12;
}

a:active{
text-decoration: none;
color: #f39c12;
}

a:hover{
text-decoration: none;
color: #f39c12;
}

#main{
width: 100%;
height: 100%;
}

#header {
width: 100%;
height: auto;
background-color: #212121   ;
padding-top: 1vh;
padding-bottom: 1vh;
}

#headline{
width: 50%;
height: auto;
margin: auto;
font-family: Roboto, Sans-Serif;
font-size: 2vw;
text-align: center;
color: #424242 ;
}

#headline a{
text-decoration: none;
color: #FFFFFF ;
}

#subheader{	
border-top: 2px solid #B3B3B3;
width: 100%;
height: auto;
background-color: #FFFFFF ;
padding-bottom: 5vmin;
margin-top: 10vh;	
}

.line{
width: 75%;
height: auto;
margin: auto;	
margin-top: 10vmin;
}

.entry{
width: 28%;
height: auto;
margin: auto;	
margin-left: 2vw;
float: left;
}

.icon{
width: 50%;
height: 15vmin;
margin: auto;
border: 1px solid black;
}

.icon-name{	
font-family: Roboto, Sans-Serif;
font-size: 4vmin;
width: 50%;
margin: auto;
text-align: center;
margin-top: 5vmin;
}

.cut{
width: 75%;
margin: auto;
border-top: 2px solid #B3B3B3;
margin-top: 10vmin;
	
}

#footer {
width: 100%;
height: auto;
background-color: #212121   ;
padding-top: 1vh;
padding-bottom: 1vh;
}

#footer-text{
width: 50%;
height: auto;
margin: auto;
font-family: Roboto, sans-serif;
font-size: 2vw;
text-align: center;
color: #FFFFFF ;
}
