#app-title{
font-family: Roboto, Sans-Serif;
font-size: 5vmin;
margin: auto;
text-align: center;
color: #212121;
}

#login-white{
width: 25vw;
height: auto;
margin: auto;
background-color: #FFFFFF;
font-family: Roboto, Sans-Serif;
-webkit-box-shadow: 0 0 2.5vmin 0.5vmin rgba(194,194,194,1);
-moz-box-shadow: 0 0 2.5vmin 0.5vmin rgba(194,194,194,1);
box-shadow: 0 0 2.5vmin 0.5vmin rgba(194,194,194,1);
padding: 3vmin 6vmin 6vmin 4vmin;
margin-top: 10%;
}

#login-container{
width: 85%;
margin: auto;
}

#login-table{
width: 95%;	
margin: auto;
margin-top: 3vmin;
}

#login-title{
font-size: 4vmin;
font-weight: bold;
text-align: center;
margin-top: 2vmin;
margin-bottom: 5vmin;
}

.input{
width: 90%;
margin: auto;
background-color: #FFFFFF;
border-radius: 0.5vmin;
font-size: 2.2vmin;
border: 0.2vmin solid #d9d9d9;
-webkit-box-shadow: inset 0 0 0.4vmin 0 rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 0 0.4vmin 0 rgba(0,0,0,0.3);
box-shadow: inset 0 0 0.4vmin 0 rgba(0,0,0,0.3);
padding: 1vmin;
display: block;
font-family: Roboto, Sans-Serif;
}

.project{
width: 93%;
font-size: 2vmin;
margin-left: 0;
}

.input-simple{
border: none;	
box-shadow: none;
}

textarea{	
width: 93%;
resize: vertical;
margin-left: 0;
background-color: #FFFFFF;
border-radius: 0.5vmin;
font-size: 2.2vmin;
border: 0.2vmin solid #d9d9d9;
-webkit-box-shadow: inset 0 0 0.4vmin 0 rgba(0,0,0,0.3);
-moz-box-shadow: inset 0 0 0.4vmin 0 rgba(0,0,0,0.3);
box-shadow: inset 0 0 0.4vmin 0 rgba(0,0,0,0.3);
padding: 1vmin;
display: block;
font-family: Roboto, Sans-Serif;
}

#input-about-text{
width: 97%;
}

#input-password{
margin-top: 2vmin;	
}

#login-message{
font-size: 2.2vmin;
color: #CC0000;
}

#login-button-container{
text-align: right;
vertical-align: middle;
padding: 0;
}

#icon-warn{
text-align: left;
padding-right: 2vmin;
color: #CC0000;
}

#icon-warn i{
color: #CC0000;	
font-size: 2.8vmin;
}

#icon-warn span{
padding-left: 0;
font-weight: normal;
display: inline-block;
}

#icon-warn2{
text-align: center;
padding-right: 2vmin;
color: #CC0000;
vertical-align: middle;
}

#icon-warn2 i{
color: #CC0000;	
font-size: 2.8vmin;
}

#icon-war2 span{
padding-left: 0;
font-weight: normal;
display: inline-block;
}

#icon-success{
text-align: left;
padding-right: 2vmin;
color: #247A2D;
}

#icon-success i{
color: #247A2D;	
font-size: 2.8vmin;
}

#icon-success span{
padding-left: 0;
font-weight: normal;
display: inline-block;
}

#settings-white{
width: 80vw;
height: auto;
margin: auto;
background-color: #FFFFFF;
-webkit-box-shadow:  0 0 2.5vmin 0.5vmin rgba(194,194,194,1);
-moz-box-shadow: 0 0 2.5vmin 0.5vmin rgba(194,194,194,1);
box-shadow: 0 0 2.5vmin 0.5vmin rgba(194,194,194,1);
padding: 3vmin 6vmin 3vmin 4vmin;
margin-top: 5vmin;
}

#codera-version-left{
font-weight: bold;
}

#codera-version-right-onDisk{
padding-left: 2vmin;
}

#codera-version-right-onLine{
padding-left: 2vmin;
}

#codera-version-link {
padding-left: 2vmin;
}

#codera-version-link a{
color: #4a98d3;
}

.radiogroup {
display: inline-block;
text-align: center;
margin-left: 4vmin;
}

.radiogroup label {
display: block;
}

#radiogroup-1, #radiogroup-2{
margin: 0;
}

#overview{
width: 80%;
height: auto;
margin: auto;
font-family: Roboto, Sans-Serif;
font-size: 2.2vmin;
color: #212121;
word-break: normal;
word-wrap: break-word;
}

.overview-left{
padding-right: 5vmin;
font-weight: bold;
vertical-align: middle;	
}

.overview-center{
text-align: center;
vertical-align: middle;
padding-bottom: 5vmin;
}

.overview-row > td{
/*padding-bottom: 3vmin;*/
}

.overview-download-counter{
font-family: Roboto, Sans-Serif;
font-size: 2.2vmin;
text-align: center;
vertical-align: middle;
}

.overview-download-counter div{
font-size: 1.5vmin;
margin-bottom: 1vmin;
display: inline-block;
}

.overview-icon{
margin: auto;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
opacity: 1.0;
width: 10vmin;
height: 10vmin;
}

.overview-appname{
font-family: Roboto, Sans-Serif;
font-size: 3vmin;
vertical-align: middle;
padding-left: 2vmin;
padding-right: 3vmin;
}

.user-overview-appname{
font-family: Roboto, Sans-Serif;
font-size: 3vmin;	
vertical-align: middle;
padding-left: 4vmin;
}

.overview-line{
width: 100%;
border-bottom: 0.3vmin solid black;
margin-top: 2vmin;
margin-bottom: 2vmin;
}

.overview-right{
width: 11vmin;
}

.user-line{
width: 100%;
border-bottom: 0.3vmin solid black;
margin-top: 2vmin;
margin-bottom: 3vmin;
}

#back-link{
width: 13vmin;
}

#toggle-container{
width: 25%;
margin: auto;
font-family: Roboto, Sans-Serif;
font-size: 2vmin;	
}

.toggle-container-user{
width: 40%;
font-family: Roboto, Sans-Serif;
font-size: 2vmin;	
}

.hint{
font-size: 2vmin;
margin-top: 2vmin;
}

.hint-italic{
font-size: 2vmin;
font-style: italic;
}

.user-headline{
width: 50%;
margin: auto;
font-family: Roboto, Sans-Serif;
font-size: 3vmin;	
font-weight: bold;
border-bottom: 0.3vmin solid black;
}

.user-project-name{
font-family: Roboto, Sans-Serif;
font-size: 2.5vmin;	
font-weight: bold;
vertical-align: middle;
}

#tabMedia{
min-height: 80vmin;
}

#elfinder{
height: 80vmin !important;
}

@media screen and (max-width: 1100px) {
    #login-white{
		width: 45vw;
	}	
}