/* Default Button */
.button{
display: inline-block;	
margin-right: 3vmin;
width: 11vmin;
font-family: Roboto, Sans-Serif;
font-size: 2.1vmin;
padding: 0.5vmin;
background-color: #bdbdbd;
text-align: center;
-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
border-radius: 0.3vmin;
}

.button:hover{
opacity: 0.7;
}

.button i{	
font-size: 2.6vmin;
display: inline;
color: #212121;
vertical-align: middle;
}

.button-text{
display: inline;
vertical-align: middle;	
}

.button.save{
background-color: #81c784;	
width: 11vmin;
}

.button.discard{
background-color: #e57373;	
width: 11vmin;
}

.button.login{
background-color: #4a98d3;
width: 10vmin;
margin: auto;
vertical-align: middle;
}

.button.newProject{
background-color: #81c784;	
width: 11vmin;
font-size: 2.7vmin;
}

.button.edit{
width: 3.1vmin;
padding: 0;
background-color: transparent;
box-shadow: none;
margin-right: 2vmin;
}

.button.edit i{
font-size: 3.1vmin;
}

.button.download{
width: 14vmin;
}