#color-chooser{
width: 80%;
}

.ink{
width: 5vmin;
height: 5vmin;
border-radius: 0.7vmin;
background-color: red;
display: inline-block;
margin-left: 0.8vmin;
margin-top: 0.8vmin;
border: 0.5vmin solid transparent;
}

.ink:hover{
border: 0.5vmin solid #333333;
transition: .2s ease;
}

.ink.selected{
border: 0.5vmin solid #333333;
}