
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);

body {
/*background-color: #F1F2F2;*/
background-color: #EEEEEE;
margin: 0;
 display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a:link{
text-decoration: none;
color: #212121;
}

a:visited{
text-decoration: none;
color: #212121;
}

a:active{
text-decoration: none;
color: #212121;
}

a:hover{
text-decoration: none;
color: #212121;
}

#main{
width: 100%;
height: auto;
flex: 1 0 auto;
}

#header {
width: 100%;
height: auto;
background-color: #212121;
padding-top: 1vh;
padding-bottom: 1vh;
}

.login{
width: 15vmin;
height: auto;
font-family: Roboto, Sans-Serif;
font-size: 2.5vmin;
color: #FFFFFF;
float: right;
}

.login i{	
font-size: 3vmin;
display: inline;
vertical-align: middle;	
}

.login-text{
display: inline;
vertical-align: middle;	
}

.login a{
color: #FFFFFF;
text-decoration: none;
}

#name{
width: 100%;
height: 15vmin;
background-color: #bdbdbd;
display: table;
border-bottom: 0.4vmin solid #B3B3B3;
}

.name-text{
width: 50%;
margin: auto;
font-family: Roboto, Sans-Serif;
text-align: center;
display: table-cell;
vertical-align: middle;
}

#name-text-short{
font-size: 8vmin;
}

#name-text-middle{
font-size: 6.5vmin;
}

#name-text-long{
font-size: 5vmin;
}

.name-text a{
text-decoration: none;
color: #FFFFFF;
}

#content{	
width: 100%;
height: auto;
background-color: #EEEEEE ;
padding-bottom: 5vmin;
}

#projects{
width: 70vw;
height: auto;
margin: auto;	
margin-top: 10vmin;
text-align: center;
}

.row > td{
padding-bottom: 10vmin;
}

.entry.large{
width: 28%;
height: auto;
margin: auto;	
}

.entry.medium{
width: 22%;
height: auto;
margin: auto;	
}

.entry.small{
width: 18%;
height: auto;
margin: auto;	
}

.entry a{
text-align: center;
}

.entry-icon{
margin: auto;
background-position: center center;
background-repeat: no-repeat;
background-size: contain;
opacity: 1.0;
}

.entry-icon.large.container{
display: inline-block;
width: 16vmin; 
height: 16vmin;
margin: 0 auto; 
background: transparent; 
position:relative;  
}

.entry-icon.medium.container{
display: inline-block;
width: 15vmin; 
height: 15vmin;
margin: 0 auto; 
background: transparent; 
position:relative;  
}

.entry-icon.small.container{
display: inline-block;
width: 13vmin; 
height: 13vmin;
margin: 0 auto; 
background: transparent; 
position:relative;  
}

.entry-icon{
width: 100%;
height: 100%;
position:absolute;z-index:1;
}

canvas{
width: 100%;
height: 100%;
position:relative;
z-index:20;							
}

.entry:hover{
cursor: pointer;
opacity: 0.65;
}

.entry.large.placeholder{
cursor: default;
opacity: 1.0;
}

.icon-name{	
font-family: Roboto, Sans-Serif;
font-size: 3.2vmin;
margin: auto;
text-align: center;
margin-top: 2vmin;
color: #212121;
}

/* Default Icon with Text */
.icon{
line-height: 4.3vmin;
font-family: Roboto, Sans-Serif;
font-size: 2.2vmin;
font-weight: bold;
}

.icon i{	
font-size: 3.2vmin;
display: inline;
color: #212121;
vertical-align: middle;	
}

.icon-text{
display: inline;
vertical-align: middle;	
padding-left: 2.2vmin;
}

#footer {
width: 100%;
height: 5vmin;
background-color: #212121;
height: auto;
margin: auto;
font-family: Roboto, sans-serif;
font-size: 2vmin;
text-align: center;
color: #FFFFFF;
}

#footer table{
width: 60%;
margin: auto;
}

#footer table td{
width: 33%;
vertical-align: middle;
}

#footer a{
color: #FFFFFF;
}

#footer-right{
width: auto;
height: auto;
margin: auto;
}

#footer-right i{	
font-size: 3vmin;
display: inline;
vertical-align: middle;	
color: #FFFFFF;
}

#footer-right-text{
width: 15vmin;
height: auto;
font-family: Roboto, Sans-Serif;
font-size: 1.9vmin;
color: #FFFFFF;
margin-left: 0.3vmin;
}

#icon-github{
width: 2.3vmin;	
vertical-align: middle;
}

.hidden{
visibility: hidden;
width: 0;
height: 0;
}

.lb-outerContainer{
background-color: transparent !important;
}